html,
body{
    height: 100%;
    margin: 0;
    font-size: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    background-color: #DAD4B5;

}
.pimg1{
    background-image: url(image1.png);
    min-height: 100%;
    
}
.pimg2{
    background-image: url(image2.png);
    min-height: 500px;
    
}
.pimg3{
    background-image: url(image3.png);
    min-height: 500px;
    
}
.pimg1 , .pimg2 , .pimg3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.ptext{
    position:absolute;
    top: 50%;
    width:100% ;
    text-align: center;
    font-size: 130px;
    letter-spacing: 30px;
}
.small{
    font-size: 20px;
    letter-spacing: 5px;
    
}
.section{
    font-size: 24px;
    color:brown;
    padding: 50px 80px;
    margin: 0px 20px;
    
}
.section-light{
    text-align: center;
    background-color: #DAD4B5;
}
.ptext2{
    font-size: 50px;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    text-align: center;
    padding: 0% 25%;
   
    
}